<!--Nav Holder Start-->
<div class="cp-nav-holder">
    <div class="cp-megamenu">
        <div class="cp-mega-menu">
            <label for="mobile-button"> <img src="{{ asset('bundles/cilantromedia/site-assets/images/menu-bar.png') }}" alt=""> </label>
            <!-- mobile click button to show menu -->
            <input id="mobile-button" type="checkbox">
            <ul class="main-menu">
                <li><a href="{{ path('cilantro_media_home_index') }}">Inicio</a></li>
                <li>
                    <a href="#">Televisión</a>
                    <ul class="drop-down one-column hover-expand">
                        <li><a href="{{ path('cilantro_media_tv_episodes', {'slug':'desestresa2'}) }}">Dsestresa2</a></li>
                        <li><a href="{{ path('cilantro_media_tv_episodes', {'slug':'rumbo-a-rio'}) }}">Rumbo a Río</a></li>
                        <li><a href="{{ path('cilantro_media_tv_episodes', {'slug':'te-presento-a'}) }}">Te presento a...</a></li>
                        <li><a href="{{ path('cilantro_media_tv_episodes', {'slug':'sabias-que'}) }}">Sabías que...</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Radio</a>
                    <ul class="drop-down one-column hover-expand">
                        <li><a href="#">Efemérides</a></li>
                        <li><a href="#">Expedientes musicales</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('cilantro_media_contact_index') }}">Contáctanos</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Nav Holder End-->