<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{% block pageTitle %}Dashboard | Cilantro Media{% endblock %}</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/components/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace-fonts.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace.css') }}" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace-part2.css') }}" class="ace-main-stylesheet" />
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace-skins.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace-rtl.css') }}" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/cilantroadmin/assets/css/ace-ie.css') }}" />
        <![endif]-->

        <script src="{{ asset('bundles/cilantroadmin/assets/js/ace-extra.js') }}"></script>

        <!--[if lte IE 8]>
        <script src="{{ asset('bundles/cilantroadmin/components/html5shiv/dist/html5shiv.min.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/respond/dest/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body class="no-skin">
        {% include(':CilantroAdmin/includes:header.html.twig') %}

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
                try{ace.settings.loadState('main-container')}catch(e){}
            </script>

            {% include(':CilantroAdmin/includes:sidebar.html.twig') %}

            <div class="main-content">
                <div class="main-content-inner">
                    {% include(':CilantroAdmin/includes:breadcrumbs.html.twig') %}

                    <div class="page-content">
                        {% include(':CilantroAdmin/includes:content_header.html.twig') %}

                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>

            {% include(':CilantroAdmin/includes:footer.html.twig') %}
        </div>

        <!--[if !IE]> -->
        <script src="{{ asset('bundles/cilantroadmin/components/jquery/dist/jquery.js') }}"></script>
        <!-- <![endif]-->

        <!--[if IE]>
        <script src="{{ asset('bundles/cilantroadmin/components/jquery.1x/dist/jquery.js') }}"></script>
        <![endif]-->

        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/cilantroadmin/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js') }}'>"+"<"+"/script>");
        </script>
        <script src="{{ asset('bundles/cilantroadmin/components/bootstrap/dist/js/bootstrap.js') }}"></script>

        <!--[if lte IE 8]>
        <script src="{{ asset('bundles/cilantroadmin/components/ExplorerCanvas/excanvas.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('bundles/cilantroadmin/components/_mod/jquery-ui.custom/jquery-ui.custom.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/jqueryui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/_mod/easypiechart/jquery.easypiechart.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/jquery.sparkline/index.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/Flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/Flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/components/Flot/jquery.flot.resize.js') }}"></script>

        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.scroller.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.colorpicker.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.fileinput.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.typeahead.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.wysiwyg.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.spinner.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.treeview.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.wizard.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/elements.aside.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.basics.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.scrolltop.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.ajax-content.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.touch-drag.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.sidebar.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.sidebar-scroll-1.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.submenu-hover.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.widget-box.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.settings.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.settings-rtl.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.settings-skin.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.widget-on-reload.js') }}"></script>
        <script src="{{ asset('bundles/cilantroadmin/assets/js/src/ace.searchbox-autocomplete.js') }}"></script>
    </body>
</html>