{% extends 'CilantroMedia/Site/base.html.twig' %}

{% block body %}
    <div class="cp_inner-banner">
        <div class="container">
            <div class="cp-inner-banner-holder">
                <h2>{{ video.title }} <strong></strong></h2>
                <ul class="breadcrumb">
                    <li>Televisión</li>
                    <li class="active"><a href="{{ path('cilantro_media_tv_episodes', {'slug':'desestresa2'}) }}">Desestresa2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="cp-main-content">
        <section class="cp-blog-section pd-tb60">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!--Video Detail Outer Start-->
                        <div class="cp-video-detail-outer">
                            <div class="cp-video-outer2">
                                <iframe src="https://www.youtube.com/embed/{{ video.videoId }}"></iframe>
                            </div>
                            <div class="cp-text-holder">
                                <div class="cp-top">
                                    <h4>{{ video.title }}</h4>
                                </div>
                                <div class="cp-watch-holer">
                                    <ul class="cp-meta-list">
                                        <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-advertisement">
                            <div class="cp-advertisement">
                                <img src="http://lorempixel.com/300/500/" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height:50px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="cp-outer-holder cp-featured-video">
                        <div class="row">
                            <div class="col-md-12 cp-heading-outer">
                                <h2>Más escenas</h2>
                            </div>
                        </div>
                        <div id="featured-video">
                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/rZF7NIZH4s0/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Indio Brayan Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 2, 2016</li>
                                            <li>Episodio 1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/Vnbs_VTiQts/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Olga Sana Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 9, 2016</li>
                                            <li>Episodio 2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/dZxrweNFFrc/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Costeño Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 16, 2016</li>
                                            <li>Episodio 3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/MGNaRooe73o/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Meire Carvalho Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 23, 2016</li>
                                            <li>Episodio 4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/2pG7pBwUdkI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Radamés de Jesús Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 30, 2016</li>
                                            <li>Episodio 5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/ZTjIAv6KMAs/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Chevo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 7, 2016</li>
                                            <li>Episodio 6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/HfLyBZcv9HI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Gamborimbo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 14, 2016</li>
                                            <li>Episodio 7</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/H4B2FYIebvw/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Paty Muñoz Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 21, 2016</li>
                                            <li>Episodio 8</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>

                <div style="height:50px;"></div>

                {% if latest is defined %}
                <div class="row">
                    <div class="col-md-12">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>Últimos videos</h2>
                            </div>
                            <div class="cp_viewed-slider">
                                {% for video in latest %}
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="{{ video.thumbnail }}" alt="">
                                            <figcaption class="cp-caption">
                                                <a href="{{ path('cilantro_media_tv_episode', {'slug':video.id}) }}" class="play-video">Reproducir</a>
                                            </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>{{ video.title }}</h3>
                                            <ul class="cp-meta-list">
                                                <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                            </ul>
                                            <p>{{ video.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--Most Viewer Outer End-->
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div><!--Main Content End-->
{% endblock %}