{% extends 'CilantroMedia/Site/base.html.twig' %}

{% block body %}
    {% if not app.request.cookies.has('episode-youtube-'~video.slug) and disclaimer %}
        <div id="disclaimer-box">
        </div>
        <div id="disclaimer-content">
            <div id="disclaimer-content-box">
                <h3>Aviso legal</h3>
                <br />
                <p>La página que está a punto de ver contiene material dirigido a adultos mayores de 18 años, responsables legalmente en la región en donde viven y desde donde están accediendo a este contenido. Si usted no tiene 18 años y no es legalmente responsable en la región en la que se encuentra, su acceso a este material NO ESTÁ PERMITIDO. La ley prohibe el acceso de personas menores de edad. </p>
                <br />
                <p>Esta página puede incluir imágenes, textos, gráficos, sonidos, ilustraciones, palabras ó descripciones no aptas para menores. Si usted no desea acceder a material de esta naturaleza, entonces usted no debería entrar a esta página.</p>
                <br /><br /><br />
                <a href="javascript:closeDisclaimer();">Deseo continuar</a>
                <br /><br />
                <a href="//google.com">Deseo salir</a>
            </div>
        </div>
    {% endif %}

    <div class="cp_inner-banner">
        <div class="container">
            <div class="cp-inner-banner-holder">
                <h2>{{ video.title }} <strong></strong></h2>
                <ul class="breadcrumb">
                    <li>Televisión</li>
                    <li class="active"><a href="{{ path('cilantro_media_youtube_episodes', {'slug':'desestresa2'}) }}">Desestresa2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="cp-main-content">
        <section class="cp-blog-section pd-tb60">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <!--Video Detail Outer Start-->
                        <div class="cp-video-detail-outer">
                            <div class="cp-video-outer2">
                                <iframe src="https://www.youtube.com/embed/{{ video.videoId }}"></iframe>
                            </div>
                            <div class="cp-text-holder">
                                <div class="cp-top">
                                    <h4>{{ video.title }}</h4>
                                </div>
                                <div class="cp-watch-holer">
                                    <ul class="cp-meta-list">
                                        <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-advertisement">
                            <div class="cp-advertisement">
                                <img src="http://lorempixel.com/300/500/" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height:50px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="cp-outer-holder cp-featured-video">
                        <div class="row">
                            <div class="col-md-12 cp-heading-outer">
                                <h2>Más escenas</h2>
                            </div>
                        </div>
                        <div id="featured-video">
                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/rZF7NIZH4s0/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Indio Brayan Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 2, 2016</li>
                                            <li>Episodio 1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/Vnbs_VTiQts/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Olga Sana Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 9, 2016</li>
                                            <li>Episodio 2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/dZxrweNFFrc/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Costeño Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 16, 2016</li>
                                            <li>Episodio 3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/MGNaRooe73o/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Meire Carvalho Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 23, 2016</li>
                                            <li>Episodio 4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/2pG7pBwUdkI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Radamés de Jesús Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 30, 2016</li>
                                            <li>Episodio 5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/ZTjIAv6KMAs/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Chevo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 7, 2016</li>
                                            <li>Episodio 6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/HfLyBZcv9HI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Gamborimbo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 14, 2016</li>
                                            <li>Episodio 7</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/H4B2FYIebvw/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Paty Muñoz Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 21, 2016</li>
                                            <li>Episodio 8</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>

                <div style="height:50px;"></div>

                {% if latest is defined %}
                <div class="row">
                    <div class="col-md-12">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>Últimos videos</h2>
                            </div>
                            <div class="cp_viewed-slider">
                                {% for video in latest %}
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="{{ video.thumbnail }}" alt="">
                                            <figcaption class="cp-caption">
                                                <a href="{{ path('cilantro_media_youtube_episode', {'slug':video.slug}) }}" class="play-video">Reproducir</a>
                                            </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>{{ video.title }}</h3>
                                            <ul class="cp-meta-list">
                                                <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                            </ul>
                                            <p>{{ video.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--Most Viewer Outer End-->
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div><!--Main Content End-->

    <style type="text/css">
        #disclaimer-box{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #000;
            z-index: 9998;
            opacity: 0.85;
            filter: alpha(opacity=85);
        }

        #disclaimer-content{
            width: 50%;
            height: 30%;
            position: absolute;
            left: 25%;
            top: 35%;
            background-color: #FFF;
            z-index: 9999;
        }

        #disclaimer-content-box{
            width: 80%;
            height: 92%;
            margin: auto;
            margin-top: 4%;
            color: #000;
        }

        #disclaimer-content-box h3{
            margin: auto;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        function closeDisclaimer(){
            $("#disclaimer-box").remove();
            $("#disclaimer-content").remove();

            var d = new Date();
            d.setTime(d.getTime() + (24*60*60*7));
            var expires = "expires="+ d.toUTCString();
            document.cookie = "episode-youtube-{{ video.slug }}=1; " + expires + ";path=/";
        }
    </script>
{% endblock %}