{% extends 'CilantroMedia/Site/base.html.twig' %}

{% block body %}
    {% if disclaimer %}
        <div id="disclaimer">
            <p>La página que está a punto de ver contiene material dirigido a adultos mayores de 18 años, responsables legalmente en la región en donde viven y desde donde están accediendo a este contenido. Si usted no tiene 18 años y no es legalmente responsable en la región en la que se encuentra, su acceso a este material NO ESTÁ PERMITIDO. La ley prohibe el acceso de personas menores de edad. Esta página puede incluir imágenes, textos, gráficos, sonidos, ilustraciones, palabras ó descripciones no aptas para menores. Si usted no desea acceder a material de esta naturaleza, entonces usted no debería entrar a esta página.</p>
        </div>
    {% endif %}

{# <div id="banner-header">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TV Header -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-7220816818657109"
         data-ad-slot="4783720678"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> #}

<!--Banner Start-->
<div class="cp_banner_full_width">

    <div class="cp-slider-block">
        <div class="cp_banner">
            <!--Banner Slider Start-->
            <div class="owl-carousel" id="cp-video-slider">
                {% if episodes is defined %}
                    {% for episode in episodes %}
                        <div class="item">
                            <img src="http://img.youtube.com/vi/{{ episode.videoId }}/hqdefault.jpg" style="width:900px;height:545px;" alt="">

                            <div class="cp-banner-caption">
                                <div class="inner-holder">
                                    <div class="banner-top-text">
                                        <strong class="banner-title">Episodio {{ episode.episode+1 }}</strong>
                                        {% if episode.artist is defined and episode.artist is not null %}
                                            <p>{{ episode.artist.name }}</p>
                                        {% endif %}
                                    </div>
                                    <a href="{{ path('cilantro_media_youtube_episode', {'slug':episode.slug}) }}" class="cp-btn-style1">Ver episodio</a>
                                </div>
                            </div>
                            <!--Banner Caption End-->
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cp-video-grid-block" id="featured-front-videos">
        <ul class="cp-video-grid-listing">

            {% if frontVideos is defined %}
                {% for video in frontVideos %}
                    <li class="cp-vgl-holder m2 p2">
                        <div class="cp-thumb">
                            <img src="http://img.youtube.com/vi/{{ video.videoId }}/hqdefault.jpg" style="width:372px;height:271px;" alt="">

                            <div class="cp-caption">
                                <a class="play-video" href="{{ path('cilantro_media_youtube_episode', {'slug':video.slug}) }}">Reproducir</a>
                                <h4>{{ video.title }}</h4>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </div>
</div>
<!--Banner End-->

<!--Main Content Start-->
<div id="cp-main-content">
    <section class="cp-section pd-tb60">
        <div class="container">
            <!--Outer Holder Start-->

            <div class="cp-outer-holder cp-featured-video">
                <div class="row">
                    <div class="col-md-12 cp-heading-outer">
                        <h2>Videos recomendados</h2>
                    </div>
                </div>
                <div id="featured-video">
                    {% if recommendedVideos is defined %}
                        {% for video in recommendedVideos %}
                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/{{ video.videoId }}/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                {{ video.title }}
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                            <li>Episodio {{ video.episode }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!--Outer Holder End-->

            <div class="cp-outer-holder pd-t60">
                {% if popular is defined %}
                <div class="row">
                    <div class="col-md-9">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>Videos más populares</h2>
                            </div>
                            <div class="cp_viewed-slider">
                                {% for video in popular %}
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="{{ video.thumbnail }}" alt="">
                                            <figcaption class="cp-caption">
                                                <a href="{{ path('cilantro_media_youtube_episode', {'slug':video.id}) }}" class="play-video">Reproducir</a>
                                            </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>{{ video.title }}</h3>
                                            <ul class="cp-meta-list">
                                                <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                            </ul>
                                            <p>{{ video.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <aside class="cp_sidebar-outer">
                            <div class="widget widget-form">
                                <div class="cp-heading-outer">
                                    <h2>Boletín</h2>
                                </div>
                                <form method="get" action="">
                                    <input type="text" pattern="[a-zA-Z ]+" required
                                           placeholder="Email">
                                    <button type="submit"><i class="fa fa-arrow-right"></i></button>
                                </form>
                            </div>
                            <div class="widget widget-advertisement">
                                <div class="cp-advertisement">
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- TV Right Top -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:300px;height:250px"
                                         data-ad-client="ca-pub-7220816818657109"
                                         data-ad-slot="8435191070"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                {% endif %}

                {% if latest is defined %}
                <div class="row">
                    <div class="col-md-9">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>Últimos videos</h2>
                            </div>
                            <div class="cp_viewed-slider">
                                {% for video in latest %}
                                    <div class="item">
                                        <div class="cp-most-listed">
                                            <figure class="cp-thumb">
                                                <img src="{{ video.thumbnail }}" alt="">
                                                <figcaption class="cp-caption">
                                                    <a href="#" class="play-video">Reproducir</a>
                                                </figcaption>
                                            </figure>
                                            <div class="cp-text">
                                                <h3>{{ video.title }}</h3>
                                                <ul class="cp-meta-list">
                                                    <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                                </ul>
                                                <p>{{ video.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <aside class="cp_sidebar-outer">
                            <div class="widget widget-advertisement">
                                <div class="cp-advertisement">
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- TV Right Bottom -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:300px;height:600px"
                                         data-ad-client="ca-pub-7220816818657109"
                                         data-ad-slot="9911924275"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="cp-advertisement">
                <div class="row">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- TV Center -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-7220816818657109"
                         data-ad-slot="2388657477"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </section>

    <!--Today Video Start-->
    <!--div class="cp-today-video">
        <div class="container">
            <div class="row">
                <div class="cp-heading-outer">
                    <h2>Promo Queens</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul class="today-videos">
                        <li>
                            <iframe src="https://www.youtube.com/embed/csF0bLQF7m8" frameborder="0" allowfullscreen></iframe>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div-->
    <!--Today Video End-->
</div>
<!--Main Content End-->

<style type="text/css">
    #banner-header{
        width: 100%;
        margin: auto;
    }
    #cp-video-slider{
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
    #featured-front-videos{
        margin-left: 3.5%;
    }
    .cp_banner_full_width .cp-slider-block{
        width: 52%;
    }
    .cp_banner_full_width .cp-video-grid-block{
        width: 43%;
    }
</style>

<style type="text/css">
    #disclaimer p {
        font-size: 80%;
        padding: 1.5%;
    }

    #disclaimer hr{
        border-color: black;
    }

    #disclaimer{
        border: 1px solid black;
        clear: both;
        width: 80%;
        margin: auto;
        margin-top: 110px;
        margin-bottom: 15px;
    }
</style>

<script type="text/javascript">
    function closeDisclaimer(){
        $("#disclaimer-box").remove();
        $("#disclaimer-content").remove();

        var d = new Date();
        d.setTime(d.getTime() + (24*60*60*7));
        var expires = "expires="+ d.toUTCString();
        document.cookie = "home-{{ channelSlug }}=1; " + expires + ";path=/";
    }
</script>
{% endblock %}