{% extends('CilantroMedia/Home/base.html.twig') %}

{% block body %}
<section id="main-slider">

    <div class="tp-banner-container text-center">
        <div class="tp-banner">
            <ul>    <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" data-delay="5000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/cilantromedia/images/home/slide1.jpeg') }}" alt="slidebg1"
                         data-bgfit="cover" data-bgposition="center center">

                    <h2 class="tp-caption sft tp-resizeme"
                        data-x="center"
                        data-y="360"
                        data-speed="500"
                        data-start="1600"
                        data-easing="Power3.easeInOut"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9;">
                        Video
                    </h2>
                </li>
                <!-- SLIDE  -->
                <li data-transition="slideleft" data-slotamount="7" data-delay="7000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/cilantromedia/images/home/slide2.jpeg') }}"
                         alt="laptopmockup_sliderdy" data-bgfit="cover" data-bgposition="center center">
                    <!-- LAYERS -->

                    <h2 class="tp-caption sft tp-resizeme"
                        data-x="center"
                        data-y="360"
                        data-speed="500"
                        data-start="1600"
                        data-easing="Power3.easeInOut"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9;">
                        Audio
                    </h2>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="6" data-delay="5000">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/cilantromedia/images/home/slide3.jpeg') }}" alt="slidebg1"
                         data-bgposition="center top">

                    <h2 class="tp-caption sft tp-resizeme"
                        data-x="center"
                        data-y="360"
                        data-speed="500"
                        data-start="1600"
                        data-easing="Power3.easeInOut"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9;">
                        Marketing Digital
                    </h2>
                </li>

            </ul>

        </div>
    </div>
</section>


<section id="bg-canvas">
    <div class="container">
        <div class="image hidden-xs">
            <img src="{{ asset('bundles/cilantromedia/home-assets/images/divider.png') }}" alt="divider">
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 canvas-box text-center">
                <a href="#"><span class="icon-wrap text-center" id="especialidad-1"><i class="icon-icons96"></i></span></a>
                <h4>Creatividad</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 col-sm-4 canvas-box text-center">
                <a href="#"><span class="icon-wrap text-center" id="especialidad-2"><i class="icon-lock"></i></span></a>
                <h4>Compromiso</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 col-sm-4 canvas-box text-center">
                <a href="#"><span class="icon-wrap text-center" id="especialidad-3"><i class="icon-trophy"></i></span></a>
                <h4>Excelencia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>


<!-- Paralax Effect Section -->
<section id="bg-paralax">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title">Cuenta historias con nosotros</p>
                <h2>Nosotros te ayudamos <br>a grabar tus ideas</h2>
            </div>
        </div>
    </div>
</section>


<!-- Work Project GALLERY -->
<section id="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title">lo que hacemos</p>
                <h2 class="heading">Últimos proyectos</h2>
                <div class="work-filter">
                    <ul class="text-center">
                        <li><a href="javascript:;" data-filter="all" class="active filter">Todos</a></li>
                        <li><a href="javascript:;" data-filter=".tv" class="filter">Televisión</a></li>
                        <li><a href="javascript:;" data-filter=".audio" class="filter">Radio</a></li>
                        <li><a href="javascript:;" data-filter=".marketing" class="filter">Marketing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid project-wrapper">
        <div class="zerogrid">
            <div class="wrap-container clearfix">
                <div class="row wrap-content">
                    <div class="col-1-2">
                        <div class="col-full mix work-item video tv">
                            <div class="wrap-col">
                                <div class="item-container">
                                    <a class="overlay text-center" href="#">
                                        <div class="overlay-inner">
                                            <h4>Jimena Pastis</h4>
                                            <div class="line"></div>
                                            <p>Photoshooting</p>
                                        </div>
                                    </a>
                                    <img src="{{ asset('bundles/cilantromedia/images/home/project1.jpeg') }}"
                                         alt="tv"/>

                                </div>
                            </div>
                        </div>
                        <div class="col-2-4 mix work-item brand marketing">
                            <div class="wrap-col">
                                <div class="item-container">
                                    <a class="overlay text-center" href="#">
                                        <div class="overlay-inner">
                                            <h4>La Cupcakeria</h4>
                                            <div class="line"></div>
                                            <p>Cocina</p>
                                        </div>
                                    </a>
                                    <img src="{{ asset('bundles/cilantromedia/images/home/project2.jpeg') }}"
                                         alt="marketing"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-4 mix work-item audio">
                            <div class="wrap-col">
                                <div class="item-container">
                                    <a class="overlay text-center" href="#">
                                        <div class="overlay-inner">
                                            <h4>Expediente Musical</h4>
                                            <div class="line"></div>
                                            <p>Radio</p>
                                        </div>
                                    </a>
                                    <img src="{{ asset('bundles/cilantromedia/images/home/project3.jpeg') }}"
                                         alt="radio"/></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-4 mix work-item graphic marketing">
                        <div class="wrap-col">
                            <div class="item-container">
                                <a class="overlay text-center" href="#">
                                    <div class="overlay-inner">
                                        <h4>Cilantro Media</h4>
                                        <div class="line"></div>
                                        <p>Planeación</p>
                                    </div>
                                </a>
                                <img src="{{ asset('bundles/cilantromedia/images/home/project4.jpeg') }}"
                                     alt="marketing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 mix work-item design video">
                        <div class="wrap-col">
                            <div class="item-container">
                                <a class="overlay text-center" href="#">
                                    <div class="overlay-inner">
                                        <h4>Mustang</h4>
                                        <div class="line"></div>
                                        <p>Branding</p>
                                    </div>
                                </a>
                                <img src="{{ asset('bundles/cilantromedia/images/home/project5.jpeg') }}"
                                     alt="work"/></div>
                        </div>
                    </div>
                    <div class="col-1-2 mix work-item graphic tv">
                        <div class="wrap-col">
                            <div class="item-container">
                                <a class="overlay text-center" href="#">
                                    <div class="overlay-inner">
                                        <h4>Holbox</h4>
                                        <div class="line"></div>
                                        <p>Video Marketing</p>
                                    </div>
                                </a>
                                <img src="{{ asset('bundles/cilantromedia/images/home/project6.jpeg') }}"
                                     alt="work"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Counter-->
<section id="facts">
    <h3 class="hidden">hidden</h3>
    <div class="container-fluid">
        <div class="row number-counters">
            <!-- first count item -->
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="counters-item blue row"><strong data-to="10">0</strong>
                    <p>Clientes satisfechos</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="counters-item purple row"><strong data-to="35">0</strong>
                    <p>Historias contadas</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="counters-item pink row"><strong data-to="12">0</strong>
                    <p>Proyectos completados</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="counters-item green row"><strong data-to="1350">0</strong>
                    <p>Chelas bebidas</p>
                </div>
            </div>
            <!-- end first count item -->
        </div>
    </div>
</section>


<!-- Responsive image with left -->
<section id="responsive" class="padding">
    <div class="container-fluid">
        <div class="row responsive-pic">
            <div class="col-md-6 col-sm-6">
                <img src="{{ asset('bundles/cilantromedia/home-assets/images/full-responsive.png') }}"
                     alt="fully responsive" class="img-responsive">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 r-test">
                        <h3>Historias únicas</h3>
                        <p>Trabajar con nosotros es una experiencia única, de historias especiales contadas con el mayor profesionalismo y entrega para llevar al público tu idea.</p>
                        <h4>Ofrecemos</h4>
                        <ul class="r-feature">
                            <li>Contenido creativo</li>
                            <li>Web</li>
                            <li>Móvil</li>
                            <li>Marketing online</li>
                            <li>Redes sociales</li>
                            <li>Branding</li>
                        </ul>
                        <div class="screens"><i class="icon-laptop2"></i> <i class="icon-tablet2"></i> <i
                                    class="icon-icons202"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Skills with Description -->
<section id="bg-skill" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title">Algunas de nuestras</p>
                <h2 class="heading">áreas de experiencia</h2>
            </div>
            <div class="col-md-6 skills">
                <ul>
                    <li>
                        <p class="pull-left">Producción</p>
                        <p class="pull-right"> 95%</p>
                        <div class="clearfix"></div>
                    </li>
                    <li class="progress">
                        <div class="progress-bar blue" data-width="95"></div>
                    </li>
                    <li>
                        <p class="pull-left">Diseño</p>
                        <p class="pull-right"> 78%</p>
                        <div class="clearfix"></div>
                    </li>
                    <li class="progress">
                        <div class="progress-bar pink" data-width="78"></div>
                    </li>
                    <li>
                        <p class="pull-left">Radio</p>
                        <p class="pull-right"> 70%</p>
                        <div class="clearfix"></div>
                    </li>
                    <li class="progress">
                        <div class="progress-bar purple" data-width="70"></div>
                    </li>
                    <li>
                        <p class="pull-left">Marketing</p>
                        <p class="pull-right"> 85%</p>
                        <div class="clearfix"></div>
                    </li>
                    <li class="progress">
                        <div class="progress-bar green" data-width="85"></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum tempus libero, sed bibendum lorem suscipit sed. In maximus placerat dignissim. Nunc suscipit augue at enim egestas, finibus scelerisque libero imperdiet. Curabitur ac porttitor ante. Suspendisse potenti. Mauris eleifend quis eros sit amet lobortis. Pellentesque nec urna at lacus ultricies fermentum sed nec dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas maximus, tellus non commodo maximus, sapien tortor imperdiet orci, vitae commodo eros sem id odio. Nam consectetur blandit placerat. Etiam at consequat odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis suscipit mollis maximus. Nullam tincidunt sodales velit, sed luctus orci egestas ut.</p>
            </div>
        </div>
    </div>
</section>


<!-- What We Do Section -->
<section class="we-do bg-grey padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title">nuestros servicios</p>
                <h2 class="heading">qué hacemos</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="do-wrap text-center"><span class="green"></span> <i class="icon-video-camera green"></i>
                    <h4>Video</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="do-wrap text-center"><span class="pink"></span> <i class="icon-headphones pink"></i>
                    <h4>Audio</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="do-wrap text-center"><span class="purple"></span> <i class="icon-cart purple"></i>
                    <h4>Marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="do-wrap text-center"><span class="blue"></span> <i class="icon-glass blue"></i>
                    <h4>Fiestas</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Crteative Thinker -->
<section id="thinkers" class="padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 wow fadeIn">
                <p class="title">creatividad y pasión</p>
                <h2 class="heading">nuestro equipo</h2>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/amanda.jpg') }}" alt="Amanda Nuñez" class="img-responsive">
                    </div>
                    <h3>Amanda Nuñez</h3>
                    <small>Estadísticas</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/andy.png') }}" alt="Andy Garza" class="img-responsive">
                    </div>
                    <h3>Andy Garza</h3>
                    <small>Producción</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/cesar.jpg') }}" alt="Cesar Dávila" class="img-responsive">
                    </div>
                    <h3>Cesar Dávila</h3>
                    <small>Edicion y post producción</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/chamo.jpg') }}" alt="José Gabriel Nuñez" class="img-responsive">
                    </div>
                    <h3>José Gabriel Nuñez</h3>
                    <small>Diseño Web</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/emilio.jpg') }}" alt="Emilio Martínez" class="img-responsive">
                    </div>
                    <h3>Emilio Martínez</h3>
                    <small>Social Media Manager</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/isaac.png') }}" alt="Isaac Perez" class="img-responsive">
                    </div>
                    <h3>Isaac Perez</h3>
                    <small>Diseño Web</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/javo.jpg') }}" alt="Javier Herrera" class="img-responsive">
                    </div>
                    <h3>Javier Herrera</h3>
                    <small>Edición y post producción</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/jose.png') }}" alt="José Cue" class="img-responsive">
                    </div>
                    <h3>José Cue</h3>
                    <small>Director General</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/juanjo.png') }}" alt="Juan José" class="img-responsive">
                    </div>
                    <h3>Juan José</h3>
                    <small>Producción de audio</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/liz.jpg') }}" alt="Nelda Cardenti" class="img-responsive">
                    </div>
                    <h3>Nelda Cardenti</h3>
                    <small>Producción</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/tebin.png') }}" alt="Esteban Garza" class="img-responsive">
                    </div>
                    <h3>Esteban Garza</h3>
                    <small>Producción</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/ulises.png') }}" alt="Ulises Villalpando" class="img-responsive">
                    </div>
                    <h3>Ulises Villalpando</h3>
                    <small>Producción de audio</small>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="thinker-wrap">
                    <div class="thinker-image">
                        <img src="{{ asset('bundles/cilantromedia/images/equipo/vero.jpg') }}" alt="Verónica Ortiz" class="img-responsive">
                    </div>
                    <h3>Verónica Ortiz</h3>
                    <small>Redacción</small>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}