<div id="sidebar" class="sidebar responsive ace-save-state compact">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li class="active">
            <a href="{{ path('cilantro_admin_index_dashboard') }}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li>
            <a href="{{ path('cilantro_admin_video_facebooklist') }}">
                <i class="menu-icon fa fa-facebook"></i>
                <span class="menu-text"> Facebook </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li>
            <a href="{{ path('cilantro_admin_youtube_channels') }}">
                <i class="menu-icon fa fa-youtube"></i>
                <span class="menu-text"> Youtube </span>
            </a>

            <b class="arrow"></b>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
            <li class="hover">
                <a href="{{ path('cilantro_admin_contacto_index') }}">
                    <i class="menu-icon fa fa-envelope"></i>
                    <span class="menu-text"> Contacto </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="{{ path('cilantro_admin_connect_servicelist') }}">
                    <i class="menu-icon fa fa-plug"></i>
                    <span class="menu-text"> Connect </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="{{ path('cilantro_admin_user_index') }}">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> Usuarios </span>
                </a>

                <b class="arrow"></b>
            </li>
        {% endif %}
    </ul>
</div>