{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Servicios</h2>
                    <p class="tagline">Producción y contenido</p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link">
                        <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a>
                        <span><i class="fa fa-angle-right"></i>Servicios</span>
                        <span><i class="fa fa-angle-right"></i>Producción y contenido</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <video style="max-width:900px;max-height:500px;" controls>
                        <source src="{{ asset('bundles/cilantromedia/images/servicios/reel_cm.mp4') }}" type="video/mp4">
                    </video>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/te_ofrecemos.jpg') }}" alt="" class="img-responsive">
                        </figure>

                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">

                        <br />
                        <br />
                        <h3>Te ofrecemos:</h3>
                        <ul class="r-feature">
                            <li>Creación de contenido web</li>
                            <li>Producción audiovisual</li>
                            <li>Desarrollo de proyectos audiovisuales</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Creación de contenido web</h3>
                        <p>Somos expertos en la producción y difusión para tu sitio web y la utilización de redes sociales.</p>
                        <ul class="r-feature">
                            <li>Diseño creativo</li>
                            <li>Desarrollo web</li>
                            <li>Desarrollo móvil</li>
                            <li>Diseño web</li>
                            <li>Marketing Online</li>
                            <li>Diseño gráfico</li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img-right">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/contenido_web.jpg') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row service-block">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/produccion_audiovisual.jpg') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Producción audiovisual</h3>
                        <p>Contamos con equipo profesional para la edición audivisal, además nuestro software es de última generación.</p>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Desestresa2</h3>
                        <p>Armando RoAl y Julio Alpizar en compañía de los fariseos, llevan hasta la comodidad de nuestros dispositivos electrónicos la dupla perfecta de la nueva comedia con la tradicional.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img-right">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/desestresa2.png') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/territorio.png') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Territorio Informativo</h3>
                        <p>Somos el primer medio de comunicación Mexicano enfocado en noticias positivas, de caracter local, nacional e internacional, porque la verdad es que “NO TODAS SON MALAS NOTICIAS”.</p>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Expedientes musicales</h3>
                        <p>Expedientes Musicales: cronología y antología de las bandas y solistas que han hecho historia para el gusto de todo público. Nuestra intención es evocar, a través de la música, los espacios en el tiempo.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img-right">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/expedientes.png') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>

            <div class="row service-block">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-img">
                        <figure class="hvr-trim">
                            <img src="{{ asset('bundles/cilantromedia/images/servicios/tepresentoa.png') }}" alt="" class="img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="grey-content bg-grey r-test">
                        <h3>Te presento a:</h3>
                        <p>Personajes de la Sociedad Mexicana, organizaciones, programas, iniciativas e instituciones, son dados a conocer a través de sus acciones que aportan un impulso positivo al país. Lo que los inspira,nos inspira</p>
                    </div>
                </div>
            </div>

            <div style="clear: both;height:60px;"></div>
        </div>
    </section>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .innerpage-banner{
            background: url({{ asset('bundles/cilantromedia/images/servicios/produccion_y_contenido.jpg ') }}) 80px -80px;
        }
    </style>
{% endblock %}