{% extends 'CilantroMedia/Site/base.html.twig' %}

{% block body %}
    <!--Banner Start-->
    <div class="cp_inner-banner">
        <div class="container">
            <div class="cp-inner-banner-holder">
                <h2><strong>{{ videoList.title }}</strong></h2>
                <ul class="breadcrumb">
                    <li><a href="{{ path('cilantro_media_home_index') }}">Inicio</a></li>
                    <li class="active">Página: {{ currentPage }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Banner End-->

    <!--Main Content Start-->
    <div id="cp-main-content">
        <section class="cp-blog-section pd-tb60">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        {% if videos is defined %}
                            {% for video in videos %}
                                <article class="cp-blog-item">
                                    {{ video.embedHtml|raw }}
                                    <div class="cp-text">
                                        <!--span class="cp-icon-box">
                                            <i class="fa fa-headphones"></i>
                                        </span-->
                                        <div class="cp-inner-holder">
                                            <h3>{{ video.title }}</h3>
                                            <p>{{ video.description|convert_encoding('iso-8859-1', 'utf8')|nl2br }}</p>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}

                        <div class="cp-pagination-row">
                            <ul class="pagination">
                                {% if currentPage != pages %}
                                    <li>
                                        <a href="{{ path(app.request.attributes.get('_route'), {'slug':videoList.slug, 'page':currentPage+1}) }}" aria-label="Previous">
                                            <i class="fa fa-caret-square-o-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% if currentPage != 1 %}
                                    <li>
                                        <a href="{{ path(app.request.attributes.get('_route'), {'slug':videoList.slug, 'page':currentPage-1}) }}" aria-label="Next">
                                            <i class="fa fa-caret-square-o-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <aside class="cp_sidebar-outer">
                            <div class="widget widget-recent-post">
                                <div class="cp-heading-outer">
                                    <h2>Más populares</h2>
                                </div>
                                <ul>
                                    {% if videosPopulares is defined %}
                                        {% for video in videosPopulares %}
                                            <li>
                                                <div class="cp-holder">
                                                    <div class="cp-thumb2">
                                                        <a class="facebook-video-popular" data-fancybox-type="iframe" href="{{ path('cilantro_media_facebook_episode', {'listSlug':video.facebookVideoList.slug, 'videoSlug':video.slug}) }}">
                                                            <img style="width:75px;height:65px;" src="{{ video.picture }}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="cp-text">
                                                        <h5>
                                                            <a class="facebook-video-popular" data-fancybox-type="iframe" href="{{ path('cilantro_media_facebook_episode', {'listSlug':video.facebookVideoList.slug, 'videoSlug':video.slug}) }}">
                                                                {{ video.title }}
                                                            </a>
                                                        </h5>
                                                        <ul class="cp-meta-list">
                                                            <li>{{ video.publishedAt|date('l, M d, Y') }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div><!--Main Content End-->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery(".facebook-video-popular").fancybox({
                fitToView	: true,
                width		: '70%',
                height		: '50%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        });
    </script>
{% endblock %}